body
{
    background-color: black;
    background-image: url("fe776ch1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.fethracia_title_l
{
    padding-left: 35%;
    color: white;
}

.fethracia_text_l
{
    text-align: justify;
    font-size: 20px;
    color: white;
    position: relative;
    width: 40%;
}

.fethracia_textBackground_l
{
    background-image: url("ThraciaTextBackground.png");
    background-repeat: no-repeat;
    background-size: 44% 100%;
    background-position: 20%;
    padding: 30px;
    padding-left: 16%;
}

.fethracia_title_r
{
    padding-left: 50%;
    color: white;
}

.fethracia_text_r
{
    text-align: justify;
    font-size: 20px;
    color: white;
    position: relative;
    width: 40%;
    left: 60%;
}

.fethracia_textBackground_r
{
    background-image: url("ThraciaTextBackgroundReversed.png");
    background-repeat: no-repeat;
    background-size: 42% 100%;
    background-position: 80%;
    padding: 30px;
    padding-right: 16%;
}
